.arrowUp {
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #555;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 1);
    padding: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.arrowUp:hover {
    background-color: #444;
}

.arrowUp:active {
    transform: scale(0.9);

}