.arrowUp {
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #555;
    font-size: 24px;
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 1);
    padding: 8px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.arrowUp:hover {
    background-color: #444;
}

.arrowUp:active {
    transform: scale(0.9);

}

@media (max-width: 768px) {
    .arrowUp {
        bottom: 50px;
        font-size: 20px;
    }
}