.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    // height: 50vh;
    min-height: 600px;
    max-height: 90vh;
    background-image: url('../../images/kitchen.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    // color: #b79d52;
}

.heroContent {
    text-align: center;
}

.hero img {
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 1.5));
}