.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #f7f7f7;
}


.searchBar {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2rem;
    margin: 0.4rem 0;
}


.container h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.container svg {
    cursor: pointer;
    font-size: 3rem;
    color: #000;
    transition: color 0.4s ease, transform 0.4s ease;
}

.container svg:hover {
    color: #555;
    transform: translateY(-20%) rotate(360deg);
}

.searchBar select,
.searchBar input,
.searchBar button {
    width: 100%;
    max-width: 22rem;
    margin: 0.3rem;
    padding: 0.7rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    font-family: inherit;
}

.searchBar button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 0.4s ease-in;
}

.searchBar button:hover {
    background-color: #555;
}

@media (max-width: 768px) {
    .container {
        text-align: center;
        padding: 1rem;
    }

    .searchBar {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0.3rem 0;
    }

    .container h2 {
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
    }

    .searchBar select,
    .searchBar input,
    .searchBar button {
        flex: 1 1 calc(33% - 20px);
        margin: 0.5rem 0;
    }

    .searchBar button {
        flex: 1 1 100%;
    }
}

.container {
    position: relative;
}

.suggestions {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    top: 170px;
    background: #fff;
    width: calc(100% - 125px);
    margin-top: 5px;
    z-index: 1000;
    list-style: none;
    padding: 0;
}

.suggestionItem {
    padding: 10px;
    cursor: pointer;
}


.suggestionItem:hover {
    background-color: #f0f0f0;
}

.tooltip {
    position: absolute;
    right: 350px;
    bottom: 45px;
    background-color: #333;
    color: white;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .container {
        padding: 2rem;
    }

    .searchBar {
        flex-direction: row;
        align-items: center;
        padding: 0.5rem;
    }

    .searchBar input {
        margin-right: 2rem;
    }
}