@import '../../styles/variables';

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    border-radius: $Border-radius;
    background-color: $Pale-gray;
}

.container svg {
    font-size: 3.125rem;
}

.title {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
    text-transform: uppercase;
}

.searchBar {
    border-radius: $Border-radius;
    padding: 0.625rem;
}

.formRow {
    display: flex;
    gap: 1.25rem;
    margin-bottom: 0.625rem;
}

.formGroup {
    flex: 1;
}

.formGroup label {
    display: block;
    margin-bottom: 0.3rem;
    font-weight: bold;
}

.formGroup select,
.formGroup input {
    width: 100%;
    padding: 0.625rem;
    border: 1px solid #ccc;
    border-radius: $Border-radius;
    font-size: 1rem;
}

.inputGroup {
    display: flex;
    gap: 0.625rem;
}

.formGroupLocation {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    font-weight: bold;
}

.addressInputWrapper {
    position: relative;

    display: flex;
    align-items: center;
    margin-top: 0.625rem;
    gap: 0.625rem;
}

.addressInputWrapper input {
    flex: 1;
    border-radius: $Border-radius;
    font-size: 1rem;
}

.searchButton {
    background-color: $Dark-gray;
    border: none;
    border: 1px solid #ccc;
    border-radius: $Border-radius;
    color: $White;
    font-family: inherit;
    font-size: 1.125rem;
    padding: 0.625rem 1rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.searchButton:hover {
    background-color: $Neutral-gray;
}

.searchButton:active {
    background-color: $Dark-gray;
}

.searchButton:focus {
    background-color: $Neutral-gray;
}

.suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 0.3rem;
    padding: 0;
    list-style: none;
    background-color: $White;
    border: 1px solid #ccc;
    border-radius: $Border-radius;
    max-height: 18.75rem;
    overflow-y: auto;
    z-index: $z-Index-high;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.suggestionItem {
    background-color: $White;
    border-bottom: 1px solid #ccc;
    padding: 0.625rem;
    cursor: pointer;
}

.suggestionItem:last-child {
    border-bottom: none;
}

.suggestionItem:hover {
    background-color: $Light-gray;
}

.error {
    color: $Warm-crimson;
    background-color: $Warm-Rose;
    border: 1px solid $Warm-crimson;
    border-radius: $Border-radius;
    width: fit-content;
    font-size: 0.625rem;
    font-weight: 500;
    margin-bottom: 0.3rem;
    padding: 0.3rem;
    opacity: 1;
}

.formGroup input,
.addressInputWrapper input {
    border: 1px solid #ccc;
    outline: none;
    padding: 0.625rem;
    transition: border-color 0.3s ease;

    &.error {
        border: 1px solid red;
    }

    &.error:focus {
        border: 1px solid orange;
        box-shadow: 0 0 5px rgba(255, 165, 0, 0.5);
    }
}

@media (max-width: 768px) {
    .formRow {
        flex-direction: column;
    }

    .container {
        padding: 0.625rem;
    }

    .container svg {
        font-size: 3.125rem;
    }

    .title {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        margin-bottom: 0.3rem;
    }

    .formRow {
        flex-direction: column;
    }

    .formGroup {
        width: 100%;
    }
}

.errorText {
    color: #B00020;
    background-color: rgba(255, 224, 224, 0.9);
    border: 1px solid #B00020;
    // margin: 0.3rem 0.5rem;
    margin-top: 0.3rem;
    border-radius: $Border-radius;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 0.2rem 0.5rem;
    opacity: 1;
    transition: opacity 0.3s ease;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    display: inline-block;
    width: max-content;
}

.formGroup input.error:focus+.errorText {
    border: 1px solid orange;
}

.formGroup input.error:focus {
    border: 1px solid orange;
    box-shadow: 0 0 5px rgba(255, 165, 0, 0.5);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.errorText {
    animation: fadeIn 0.4s ease-in-out;
}