.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    align-items: center;
    padding-top: 30px;
}

.tile {
    width: 160px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    transform: scale(1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;

    &:hover .front {
        transform: rotateY(180deg);
    }

    &:hover .back {
        transform: rotateY(0);
    }
}

.tile img {
    width: 120px;
    height: 120px;
    transition: transform 0.3s ease;
}

.tile h2 {
    font-size: 18px;
    color: #333;
}

.tile:hover {
    transform: scale(1.15);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.tile:hover img {
    transform: scale(1.05);
}


.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.6s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.front {
    background-color: #fff;
    transform: rotateY(0);
}

.back {
    background-color: #f0f0f0;
    transform: rotateY(-180deg);
}

.back button {
    background-color: #444;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.2s;

    &:hover {
        background-color: #333;
    }
}

@media screen and (max-width: 768px) {
    .container {
        display: grid;
        place-items: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        padding-top: 20px;
    }

    .tile {
        width: 140px;
        height: 140px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .tile img {
        width: 100px;
        height: 100px;
    }

    .tile h2 {
        font-size: 16px;
        text-align: center;
    }

    .tile p {
        font-size: 11px;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding-top: 15px;
    }

    .tile {
        width: 120px;
        height: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .tile img {
        width: 80px;
        height: 80px;
    }

    .tile h2 {
        font-size: 14px;
        text-align: center;
    }

    .tile p {
        font-size: 10px;
        text-align: center;
    }
}