.teamMember {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    box-shadow: 0 0.375rem 0.75rem rgba(0, 0, 0, 0.1);
    margin: 1.25rem 0;
    max-width: 37.5rem;
    width: 100%;
    overflow: hidden;
    margin: 1.25rem;
    padding: 1.25rem;
    transition: transform 0.4s ease, box-shadow 0.4s ease;


    @media (max-width: 768px) {
        flex-direction: column;
        text-align: center;
        width: 21.88rem;
    }

    &:hover {
        box-shadow: 0 0.375rem 1.5rem rgba(0, 0, 0, 0.2);
        transform: translateY(-0.625rem);
    }
}

.imageWrapper {
    position: relative;
    margin-bottom: 1.25rem;
    max-width: 18.75rem;
    width: 100%;
}

.imageWrapper img {
    border-radius: 0.5rem;
    box-shadow: 0 0.375rem 0.75rem rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

.info {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
}

.info h2 {
    color: #333;
    font-size: 2rem;
    transition: color 0.4s ease;
}

.info:hover h2 {
    color: #b79d52;
}

.info h3 {
    color: #666;
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0.625rem 0;
}

.info p {
    color: #444;
    font-size: 1rem;
    margin-bottom: 0.3rem;
    line-height: 1.7;
}

.info a {
    position: relative;

    color: #b79d52;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
        color: #333;
    }
}

.info a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.125rem;

    background-color: #b79d52;
    height: 0.125rem;
    width: 0;
    transition: width 0.3s ease;
}

.info a:hover::after {
    width: 100%;
}

.license {
    color: #888;
    font-style: italic;
    margin-top: 1.25rem;
    text-align: end;
}