.skeleton {
    height: 60vh;
    max-width: 1200px;
    margin: 4.75rem auto;
    overflow-x: hidden;
}

.skeleton div {
    background-color: #ddd;
    border-radius: 0.5rem;
    margin: 1.5rem 0;
}


.sBanner {
    padding: 1.5rem 0;
}

.sHeader {
    padding: 1.2rem 0;
    max-width: 1000px;
}

.sContent {
    padding: 1.2rem 0;
    max-width: 500px;
}