@import '../../styles//variables';

.skeleton {
    height: 80vh;
    max-width: 1200px;
    margin: 0 auto;
}

.skeleton div {
    background-color: $Light-silver;
    border-radius: $Border-radius;
    margin: 1.5rem 0;
}


.sBanner {
    padding: 1.5rem 0;
}

.sHeader {
    padding: 1.2rem 0;
    max-width: 1000px;
}

.sContent {
    padding: 1.2rem 0;
    max-width: 500px;
}