.customPrevArrow {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* Arrow icon color */
}

.customPrevArrow:hover {
    background-color: orange;
    /* Change color on hover */
}