@import '../../styles/variables';

.carouselContainer {
    position: relative;
    cursor: grab;
}

.customDots {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customDots li button::before {
    color: $Golden-sand;
    font-size: 1.25rem;
}

.customDots li button:hover::before {
    color: $Dark-gray;
}

.arrowLeft,
.arrowRight {
    position: absolute;
    top: 18.75rem;
    z-index: $z-Index-low;

    width: 3.125rem;
    display: flex;
    padding: 0.3rem 1rem;

    font-size: 1.875rem;
    border-radius: $Border-radius;
    box-shadow: 0 0 0.3rem 0.2rem #ccc;
    cursor: pointer;
}

.arrowLeft {
    left: -3.125rem;
}

.arrowRight {
    right: -3.125rem;
}

@media (max-width: 480px) {
    .carouselContainer {
        margin-bottom: 2rem;
    }

    .customDots {
        margin-bottom: -2rem;
    }

    .arrowLeft,
    .arrowRight {
        top: 33.6rem;
    }

    .arrowLeft {
        left: 5rem;
    }

    .arrowRight {
        right: 5rem;
    }
}