.carouselContainer {
    position: relative;
    padding: 0 0.625rem;
    cursor: grab;
}

.customDots {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.625rem;
}

.customDots li button::before {
    color: #b79d52;
    font-size: 1.25rem;
}

.customDots li button:hover::before {
    color: #333;
}

.arrowLeft,
.arrowRight {
    position: absolute;
    top: 18.75rem;
    z-index: 1;

    width: 3.125rem;
    display: flex;
    padding: 0.3rem 1rem;

    font-size: 1.875rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.3rem 0.2rem #ccc;
    cursor: pointer;
}

.arrowLeft {
    left: -3.125rem;
}

.arrowRight {
    right: -3.125rem;
}