.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;


    background-color: #333;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    position: sticky;
    top: 0;
    width: 100%;
}

.logo {
    display: block;
    margin-right: 10px;
}

.logo {
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
}

.bar {
    font-size: 28px;
    width: 50px;
    color: #fff;
    transition: 0.4s;
}

@keyframes rotateAndScale {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

.bar.menuOpen {
    animation: rotateAndScale 0.5s ease-in-out;
}

.unorderedList {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.hideMenu {
    display: none;
}

.showMenu {
    display: block;
}

.listItem {
    color: #fff;
}


.links {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.links:hover {
    background-color: #555;
}

.active .links {
    background-color: #555;
    background-color: #c59c58;
}



@media only screen and (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .unorderedList {
        position: absolute;
        display: none;
        flex-direction: column;
        top: 90px;
        right: 0;
        background-color: #333;
        width: 100%;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1000;
    }

    .showMenu {
        display: block;
    }

    .listItem {
        padding: 10px;
    }

    .links {
        width: 100%;
        display: block;
        text-align: center;
    }

}