@import '../../styles//variables';

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.625rem 1.25rem;
    background-color: $Dark-gray;
    text-transform: uppercase;
    letter-spacing: 0.095rem;
    transition: border-bottom 0.4s ease;
}

.nav.scrolled {
    border-bottom: 0.25rem solid;
    border-image: linear-gradient(90deg, $Golden-bronze, $Light-amber, $Golden-bronze) 1;
    animation: shiny-border 3s linear infinite;
}

.logo {
    display: block;
    transition: all 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 0.625rem $Golden-sand);
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 1.5rem;
    cursor: pointer;
}

.menuIcon {
    animation: fadeIn 0.3s ease;
    cursor: pointer;
}

.burgerIcon,
.timesIcon {
    font-size: 1.5rem;
    color: $White;
    transition: color 0.3s ease;
    animation: fadeIn 0.4s ease;
}

.burgerIcon:hover,
.timesIcon:hover {
    color: $Gray;
}


.unorderedList {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 0.4rem;
}

.hideMenu {
    display: none;
}

.showMenu {
    display: block;
}

.listItem {
    color: $White;
}


.links {
    display: flex;
    text-align: center;
    text-decoration: none;
    color: $White;
    padding: 0.6rem;
    border-radius: $Border-radius;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.links:hover {
    background-color: $Medium-gray;
}

.active .links {
    background-color: $Golden-bronze;
}



@media only screen and (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .unorderedList {
        position: absolute;
        top: 5.5rem;
        right: 0;
        z-index: $z-Index-high;

        display: none;
        flex-direction: column;
        background-color: $Dark-gray;
        width: 100%;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        border-radius: 0 0 0.5rem 0.5rem;

        opacity: 0;
        transition: max-height 0.4s ease-out, opacity 0.4s ease-out;

        padding: 1.5rem 0;
    }

    .showMenu {
        display: flex;
        max-height: 31.25rem;
        opacity: 1;
    }

    .listItem {
        padding: 0.6rem;
    }

    .links {
        width: 100%;
        display: block;
        text-align: center;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-0.625rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes shiny-border {
    0% {
        border-image-source: linear-gradient(90deg, $Golden-bronze, $Light-amber, $Golden-bronze);
    }

    50% {
        border-image-source: linear-gradient(90deg, $Light-amber, $Golden-bronze, $Light-amber);
    }

    100% {
        border-image-source: linear-gradient(90deg, $Golden-bronze, $Light-amber, $Golden-bronze);
    }
}