.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
    background-color: #333;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    position: fixed;
    // position: sticky;
    top: 0;
    width: 100%;
    transition: border-bottom 0.4s ease;
}

.nav.scrolled {
    border-bottom: 4px solid;
    border-image: linear-gradient(90deg, #c59c58, #f1c27d, #c59c58) 1;
    animation: shiny-border 3s linear infinite;
}

.logo {
    display: block;
    transition: all 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 10px #b79d52);
}

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    height: 1.5rem;
}

.menuIcon {
    cursor: pointer;
    animation: fadeIn 0.3s ease;
}

.burgerIcon,
.timesIcon {
    font-size: 24px;
    color: #fff;
    transition: color 0.3s ease;
    animation: fadeIn 0.4s ease;
}

.burgerIcon:hover,
.timesIcon:hover {
    color: #666;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.unorderedList {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    gap: 0.4rem;
}

.hideMenu {
    display: none;
}

.showMenu {
    display: block;
}

.listItem {
    color: #fff;
}


.links {
    display: flex;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 0.6rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
}

.links:hover {
    background-color: #555;
}

.active .links {
    background-color: #c59c58;
}



@media only screen and (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .unorderedList {
        position: absolute;
        display: none;
        flex-direction: column;
        top: 5.5rem;
        right: 0;
        background-color: #333;
        width: 100%;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1000;
        transition: max-height 0.4s ease-out, opacity 0.4s ease-out;
        opacity: 0;
        padding: 1.5rem 0; 
        border-radius:  0 0 0.5rem 0.5rem;

    }

    .showMenu {
        display: flex;
        max-height: 500px;
        opacity: 1;
    }

    .listItem {
        padding: 0.6rem;
    }

    .links {
        width: 100%;
        display: block;
        text-align: center;
    }
}

@keyframes shiny-border {
    0% {
        border-image-source: linear-gradient(90deg, #c59c58, #f1c27d, #c59c58);
    }

    50% {
        border-image-source: linear-gradient(90deg, #f1c27d, #c59c58, #f1c27d);
    }

    100% {
        border-image-source: linear-gradient(90deg, #c59c58, #f1c27d, #c59c58);
    }
}