.richTextContent {
    color: #333;
    line-height: 1.6;
    margin-top: 20px;
    padding: 20px;

    @media (max-width: 480px) {
        margin-top: 70px;
        padding: 15px;
    }
}

.paragraph {
    color: #555;
    font-size: 16px;
    margin-bottom: 24px;
    text-align: justify;

    @media (max-width: 768px) {
        font-size: 15px;
        margin-bottom: 16px;
    }
}

// .paragraph::first-letter {
//     font-size: 20px;
//     font-weight: bold;
//     color: #000;
// }

.heading1 {
    color: #222;
    border-left: 5px solid #b79d52;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 19px;
    padding-bottom: 8px;

    @media (max-width: 768px) {
        font-size: 32px;
        margin-bottom: 16px;
    }
}

.heading2 {
    color: #444;
    border-left: 5px solid #b79d52;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 16px;
    padding-left: 10px;

    @media (max-width: 768px) {
        font-size: 24px;
        margin-bottom: 12px;
    }
}

.list {
    color: #b79d52;
    list-style: disc;
    padding: 20px;

    @media (max-width: 768px) {
        padding-left: 16px;
    }
}

.listItem {
    color: #b79d52;
    margin-bottom: 8px;
    padding: 20px;
    list-style: decimal;

    @media (max-width: 768px) {
        margin-bottom: 5px;
        padding-left: 8px;
    }
}

.quote {
    color: #666;
    background-color: #f9f9f9;
    border-left: 5px solid #ccc;
    font-size: 24px;
    font-style: italic;
    margin: 24px 0;
    padding: 16px 24px;

    @media (max-width: 768px) {
        font-size: 20px;
        margin: 16px 0;
    }
}