.richTextContent {
    color: #333;
    line-height: 1.6;
    margin-top: 1.25rem;
    padding: 1.25rem;

    @media (max-width: 480px) {
        margin-top: 4.375rem;
        padding: 1rem;
    }
}

.paragraph {
    color: #555;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    text-align: justify;

    @media (max-width: 768px) {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
}

// .paragraph::first-letter {
//     font-size: 1.25rem;
//     font-weight: bold;
//     color: #000;
// }

.heading1 {
    color: #222;
    border-left: 0.3rem solid #b79d52;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
    padding-bottom: 0.5rem;

    @media (max-width: 768px) {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}

.heading2 {
    color: #444;
    border-left: 0.5rem solid #b79d52;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding-left: 0.625rem;

    @media (max-width: 768px) {
        font-size: 1.5rem;
        margin-bottom: 0.75rem;
    }
}

.list {
    color: #b79d52;
    list-style: disc;
    padding: 1.25rem;

    @media (max-width: 768px) {
        padding-left: 1rem;
    }
}

.listItem {
    color: #b79d52;
    margin-bottom: 0.5rem;
    padding: 1.25rem;
    list-style: decimal;

    @media (max-width: 768px) {
        margin-bottom: 0.3rem;
        padding-left: 0.5rem;
    }
}

.quote {
    color: #666;
    background-color: #f9f9f9;
    border-left: 0.3rem solid #ccc;
    font-size: 1.5rem;
    font-style: italic;
    margin: 1.5rem 0;
    padding: 1rem 1.5rem;

    @media (max-width: 768px) {
        font-size: 1.25rem;
        margin: 1rem 0;
    }
}