@import "../../styles//variables";

.card {
    position: relative;
    top: 4rem;

    display: flex;
    flex-direction: column;

    background-color: $White;
    border-radius: $Border-radius;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    margin: 4.375rem auto;
    min-height: 100vh;
    max-width: 43.75rem;
}

.cardHeader {
    border-bottom: 1.5px solid #ddd;
    margin-bottom: 1.25rem;
    padding-bottom: 1rem;
    text-align: center;
}

.cardHeader h2 {
    color: $Dark-gray;
    font-size: 1.5rem;
}

.cardHeader p {
    color: $Gray;
    margin: 0.3rem 0;
}

.cardTitle {
    color: $Dark-gray;
    font-size: 1.5rem;
    margin: 0.625rem 0;
    text-align: center;
}

.price {
    background-color: $Light-silver;
    border-radius: $Border-radius;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.6rem;
    text-align: center;
}

.cardDetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1.25rem 0;
}

.cardDetails p {
    color: $Medium-gray;
    margin: 0.3rem 0;
}

.cardDetails b {
    color: $Black;
}

.cardImage {
    border-radius: $Border-radius;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    margin: 0.625rem auto;
    height: 28.125rem;
    width: 37.5rem;
}

.imageWrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.imageWrapper img {
    border-radius: $Border-radius;
    object-fit: cover;
    cursor: grab;
    height: 28.125rem;
}

.contact {
    padding: 1.25rem;
}

.contact a {
    color: $Medium-gray;
    transition: all ease 0.4s;
}

.contact:hover a {
    text-decoration: underline;
}

.customGallery {
    background-color: $Light-silver;
    border-top: 2px solid $Neutral-gray;
    border-bottom-right-radius: $Border-radius;
    border-bottom-left-radius: $Border-radius;
    margin: -1rem 0;
    padding: 0.625rem 0;
}

.customGallery li {
    height: 3.75rem;
    width: 3.75rem;
}

.customGallery li img {
    border-radius: $Border-radius;
    margin: 0.3rem;
    padding: 0.3rem;
}

@media (max-width: 768px) {
    .card {
        margin: 1rem auto;
        padding: 1rem;
    }

    .cardHeader h2 {
        font-size: 1.25rem;
    }

    .cardHeader p {
        font-size: 0.875rem;
    }

    .cardTitle {
        font-size: 1.25rem;
    }

    .price {
        font-size: 1.2rem;
        padding: 1.2rem;
    }

    .cardDetails {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0.3rem 0;
    }

    .cardImage {
        width: 100%;
    }

    .cardImage img {
        width: 100%;
    }

    .contact {
        margin-bottom: 4rem;
    }
}

@media (max-width: 480px) {
    .card {
        margin: 0.625rem auto;
        padding: 0.625rem;
        top: 5rem;
    }

    .cardHeader h2 {
        font-size: 1.125rem;
    }

    .cardHeader p {
        font-size: 0.75rem;
    }

    .cardTitle {
        font-size: 1.125rem;
    }

    .price {
        font-size: 1rem;
        padding: 1rem;
    }

    .cardImage {
        width: 100%;
    }

    .cardImage img {
        width: 100%;
    }

    .imageWrapper {
        padding-bottom: 3.125rem;
    }

    .imageWrapper img {
        background-repeat: no-repeat;
        height: 28.125rem;
        object-fit: cover;
    }

    .contact {
        margin-bottom: 4rem;
    }
}