@import "../../styles//variables";

.card {
    position: relative;
    top: 4rem;

    display: flex;
    flex-direction: column;

    background-color: $White;
    border-radius: $Border-radius;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    margin: 4.375rem auto;
    min-height: 100vh;
    max-width: 43.75rem;
}

.cardHeader {
    border-bottom: 1.5px solid #ddd;
    margin-bottom: 1.25rem;
    padding-bottom: 1rem;
    text-align: center;
}

.cardHeader h2 {
    color: $Dark-gray;
    font-size: 1.5rem;
}

.cardHeader p {
    color: $Gray;
    margin: 0.3rem 0;
}

.cardTitle {
    color: $Dark-gray;
    font-size: 1.5rem;
    margin: 0.625rem 0;
    text-align: center;
}

.price {
    background-color: $Light-silver;
    border-radius: $Border-radius;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.6rem;
    text-align: center;
}

.cardDetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1.25rem 0;
}

.cardDetails p {
    color: $Medium-gray;
    margin: 0.3rem 0;
}

.cardDetails b {
    color: $Black;
}

.cardImage {
    border-radius: $Border-radius;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    margin: 0.625rem auto;
    height: 28.125rem;
    width: 37.5rem;
}

.imageGallery {
    overflow: hidden;
    transition: transform 0.4s;

    &:hover {
        transform: scale(1.05);
    }
}

.imageWrapper {
    position: relative;
    width: 100%;
    height: auto;

    img {
        border-top-right-radius: $Border-radius;
        border-top-left-radius: $Border-radius;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        max-width: 100%;
        object-fit: cover;
        height: 28.125rem;
        cursor: grab;
    }
}

.contact {
    padding: 1.25rem;
}

.contact a {
    color: $Medium-gray;
    transition: all ease 0.4s;
}

.contact:hover a {
    text-decoration: underline;
}

.customGallery {
    background-color: $Light-silver;
    border-top: 2px solid $Neutral-gray;
    border-bottom-right-radius: $Border-radius;
    border-bottom-left-radius: $Border-radius;
    margin: -2rem 0;

    display: flex !important;
    padding: 5px 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;


    li {
        height: 3.75rem;
        width: 3.75rem;

        display: flex;
        justify-content: center;
    }

    img {
        overflow: hidden;
        border-radius: $Border-radius;
    }
}

.arrowLeft,
.arrowRight {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    padding: 5px;

    cursor: pointer;
    z-index: $z-Index-low;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;

    svg {
        color: #333;
        font-size: 20px;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 1);
        transform: translateY(-50%) scale(1.1);
    }
}

.arrowLeft {
    left: 10px;
}

.arrowRight {
    right: 10px;
}

@media (max-width: 768px) {
    .card {
        margin: 1rem auto;
        padding: 1rem;
    }

    .cardHeader h2 {
        font-size: 1.25rem;
    }

    .cardHeader p {
        font-size: 0.875rem;
    }

    .cardTitle {
        font-size: 1.25rem;
    }

    .price {
        font-size: 1.2rem;
        padding: 1.2rem;
    }

    .cardDetails {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0.3rem 0;
    }

    .cardImage {
        width: 100%;
    }

    .cardImage img {
        width: 100%;
    }

    .customGallery {
        margin: 0;
        margin-bottom: -40px;
    }

    .customGallery img {
        width: 75px;
    }

    .contact {
        margin-bottom: 4rem;
    }
}

@media (max-width: 480px) {
    .card {
        margin: 0.625rem auto;
        padding: 0.625rem;
    }

    .cardHeader h2 {
        font-size: 1.125rem;
    }

    .cardHeader p {
        font-size: 0.75rem;
    }

    .cardTitle {
        font-size: 1.125rem;
    }

    .price {
        font-size: 1rem;
        padding: 1rem;
    }

    .cardImage {
        width: 100%;
    }

    .customGallery {
        gap: 20px;
        margin-bottom: -50px;
    }

    .imageWrapper {
        padding-bottom: 2.7rem;
    }

    .imageWrapper img {
        background-repeat: no-repeat;
        height: 28.125rem;
    }

    .contact {
        margin-bottom: 4rem;
    }
}