.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1.5rem 0;
}

.footerContent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.footerSection {
    // flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
}

.footerSection h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #b79d52;
    text-transform: uppercase;
}

.footerSection ul {
    list-style: none;
    padding: 0;
}

.footerSection ul li {
    margin-bottom: 0.5rem;
}

.footerSection ul li a {
    color: #fff;
    text-decoration: none;
}

.footerSection ul li a:hover {
    text-decoration: underline;
}

.socialMedia {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.socialMedia a {
    color: #fff;
    font-size: 1.5rem;
}

.facebookIcon {
    font-size: 25px;
    transition: color 0.3s;
}

.facebookIcon:hover {
    color: #0266ff;
}