@import '../../styles/variables';

.footer {
    position: relative;
    bottom: 0;
    width: 100%;

    background-color: $Dark-gray;
    color: $White;
    text-align: center;
    padding: 1.7rem 0;
}

.footerSection {
    display: flex;
    justify-content: space-around;
    padding: 0 1.2rem;
    margin: 1rem;
}

.footerSection h4 {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    color: $Golden-sand;
    text-transform: uppercase;
}

.footerSection ul {
    list-style: none;
    padding: 0;
    text-align: justify;
}

.footerSection ul li {
    margin-bottom: 0.4rem;
}

.footerSection ul li a {
    color: $White;
    text-decoration: none;
    transition: all 0.3s;
}

.footerSection ul li a:hover {
    color: $Golden-sand;
}

.footerLogo p {
    margin-top: 1rem;
}

.footerLogo img {
    transition: all 0.3s ease-in-out;
}

.footerLogo img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 0.625rem $Golden-sand);
}


.socialMedia {
    display: flex;
    flex-direction: column;
}

.socialMedia a {
    color: $White;
    font-size: 1.5rem;
}


.facebookIcon {
    color: $White;
    font-size: 2rem;
    transition: all 0.3s;
}

.facebookIcon:hover {
    color: $Golden-sand;
    transform: scale(1.2);
}

.footerBottom {
    color: $Golden-sand;
    font-size: 0.87rem;
}

@media (max-width: 768px) {
    .footer {
        padding: 1rem 0;
        font-size: 0.8rem;
    }

    .footerSection {
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .footerSection h4 {
        font-size: 1.1rem;
        margin-top: 1rem;
    }

    .footerSection ul li {
        margin-bottom: 0.5rem;
    }

    .footerLogo p {
        margin-top: 0.5rem;
    }

    .socialMedia {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        gap: 0.5rem;
    }

    .socialMedia a {
        margin: 0 0.5rem;
    }

    .facebookIcon {
        font-size: 1.5rem;
    }

    .footerBottom {
        font-size: 0.68rem;
    }
}