.card {
    position: relative;
    overflow: hidden;
    margin: 1.2rem;
    max-width: 30rem;

    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.8rem;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.featured {
    overflow: hidden;
    height: 300px;
    width: 100%;

    transition: transform 0.3s, box-shadow 0.3s;
}

.featured img {
    height: 100%;
    width: 100%;
    object-fit: cover;

    transition: transform 0.3s;
}

.featured:hover {
    transform: scale(1.05);
}

.featured img:hover {
    transform: scale(1.15);
}


.content {
    padding: 1rem;
}

.info {
    margin-bottom: 1rem;
    text-align: center;
}

.info h4 {
    margin: 0;
    font-size: 1.05rem;
    color: #333;
    text-transform: uppercase;
    // height: 50px
}

.info p {
    margin: 1rem;
    font-size: 0.95rem;
    color: #666;
}


.price {
    background-color: #ddd;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding: 1.6rem;
}


@media (max-width: 480px) {
    .card {
        padding: 0;
    }

    .price {
        padding: .8rem;
        font-size: 1rem;
    }

    .featured {
        height: 225px;
        width: auto;
    }

    .featured img {
        object-fit: cover;
    }

    .info p {
        display: flex;
        justify-content: center;
        margin: 0.8rem 0;
        font-size: 0.8rem;
    }

    .info h4 {
        font-size: 1.2rem;
    }

    .content {
        padding: 0.5rem;
    }
}

.newOfferBadge {
    position: absolute;
    top: 15px;
    left: 0px;
    z-index: 10;

    background-color: #c59c58;
    background: linear-gradient(135deg, #c59c58 0%, #e3c49c 50%, #c59c58 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), inset 0 0 5px rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transform: rotate(340deg) translateZ(0);
}