@import './variables.scss';

.notFoundContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $Light-gray;
    height: 100vh;
    width: 100%;
    /* text-transform: uppercase; */
}

.notFoundContent {
    background-color: $White;
    border-radius: $Border-radius;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    padding: 4rem;
    text-align: center;
}

.notFoundContent p {
    font-size: 1.2rem;
}

.headingOne {
    color: $Dark-gray;
    font-size: 4rem;
    margin-bottom: 1rem;
    animation: pulse 1.5s infinite;
}

.headingTwo {
    color: $Medium-gray;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.homeLink {
    color: $Link-blue;
    text-decoration: underline;
    font-weight: bold;
}

.homeLink:hover {
    color: $Hover-blue;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

// @media (max-width: 768px) {
//     .notFoundContainer {
//         padding: 1.25rem;
//     }

//     .headingOne {
//         font-size: 2rem;
//     }

//     .headingTwo {
//         font-size: 1.5rem;
//     }

//     .notFoundContent p {
//         font-size: 1rem;
//     }
// }