.container {
    background-color: #f7f7f7;
}

.heroWrapper {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    width: 100%;
}

.heroWrapper img {
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(50, 50, 50, 0.7);
    height: 100%;
    width: 100%;
    text-align: center;
}

.content {
    color: #333;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
    font-size: 18px;
    padding: 30px;
}

.content h1 {
    text-transform: uppercase;
}

.cardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

@media (max-width: 768px) {

    .cardContainer {
        height: auto;
        flex-direction: column;
        text-wrap: wrap;
    }

    .heroWrapper {
        height: 60vh;
    }

    .heroWrapper img {
        object-fit: cover;
    }

    .content {
        font-size: 16px;
        margin: 0 50px;
        padding: 20px;
    }
}