@import './variables';

.container {
    background-color: $Pale-gray;
}

.heroWrapper {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    width: 100%;

    max-width: 100%;
}

.heroWrapper img {
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: 0 -70px;
    filter: brightness(0.9) contrast(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $Overlay-gray;
    height: 100%;
    width: 100%;
    text-align: center;
}

.content {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(1.875rem);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: $Border-radius;
    box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.5);
    padding: 2rem;
    max-width: 600px;
    font-size: 1.125rem;
    color: $White;
}

.content h1 {
    text-transform: uppercase;
}

.cardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
}

@media (max-width: 768px) {
    .cardContainer {
        height: auto;
        flex-direction: column;
        text-wrap: wrap;
    }

    .heroWrapper {
        height: 60vh;
    }

    .heroWrapper img {
        object-fit: cover;
        object-position: 0 80px;
    }

    .content {
        font-size: 1rem;
        padding: 1.25rem;
        margin: 0 1rem;
    }

    .overlay {
        padding: 0.5rem;
    }

    .content h1 {
        font-size: 1.5rem;
    }
}