.carouselContainer {
    position: relative;
    padding: 0 20px;
}

.customDots {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px
}

.customDots li button::before {
    color: #ddd;
    font-size: 20px;
}

.customDots li button:hover::before {
    color: #333;
}

.slick-active .customDots li button::before {
    color: red;
}