 .contactContainer {
     display: flex;
     align-items: center;
     flex-direction: column;
     background-color: #f7f7f7;
     border-radius: 10px;
     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
     margin: 100px auto;
     max-width: 1400px;
     min-height: 70vh;
     padding: 50px;
 }

 .contactHeader {
     margin-bottom: 40px;
     text-align: center;
 }

 .contactHeader h1 {
     color: #333;
     font-size: 2.5rem;
     margin: 10px 0;
     text-transform: uppercase;
 }

 .contactHeader p {
     color: #555;
     font-size: 1.1rem;
     margin-bottom: 5px;
 }

 .contactHeader a {
     color: #000;
     font-weight: bold;
     text-decoration: none;
 }

 .contactHeader a:hover {
     text-decoration: underline;
 }

 .contactContent {
     display: flex;
     align-items: center;
     flex-direction: column-reverse;
     gap: 70px;
 }

 @media (min-width: 768px) {
     .contactContent {
         flex-direction: row;
     }
 }

 .contactForm {
     display: flex;
     flex-direction: column;
     max-width: 500px;
     width: 100%;
 }

 .contactForm input,
 .contactForm textarea {
     border: 1px solid #ccc;
     border-radius: 10px;
     font-family: inherit;
     font-size: 1rem;
     margin-bottom: 25px;
     padding: 15px;
     width: 100%;
 }

 .contactForm textarea {
     height: 200px;
     resize: none;
 }

 .contactForm button {
     background-color: #333;
     border: none;
     border-radius: 10px;
     color: white;
     cursor: pointer;
     font-family: inherit;
     font-size: 1.1rem;
     padding: 15px;
     transition: all 0.3s ease;
 }

 .contactForm button:hover {
     background-color: #444;
 }

 .contactForm button:focus {
     background-color: #444;
     box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
     outline: none;
 }

 .contactForm button:active {
     transform: scale(0.98);
 }


 .contactImage {
     position: relative;

     border-radius: 10px;
     filter: drop-shadow(0 0 10px #b79d52);
     max-width: 1000px;
     width: 100%;
 }

 .contactImage img {
     height: auto;
     object-fit: cover;
     width: 100%;
     animation: pulse 2.5s infinite;
 }

 .error {
     color: #d9534f;
     background-color: #f9d6d5;
     border: 1px solid #d9534f;
     border-radius: 10px;
     font-size: 10px;
     font-weight: 500;
     margin-bottom: 5px;
     padding: 5px;
     opacity: 0;
 }

 .errorVisible {
     position: absolute;
     top: -15px;
     left: 0;

     opacity: 1;
     transform: translateY(0);
     animation: shake 0.5s ease-in;
 }

 @keyframes pulse {

     0%,
     100% {
         transform: scale(1);
     }

     50% {
         transform: scale(1.1);
     }
 }

 @keyframes shake {
     0% {
         transform: translateX(-5px);
     }

     25% {
         transform: translateX(5px);
     }

     50% {
         transform: translateX(-5px);
     }

     75% {
         transform: translateX(5px);
     }

     100% {
         transform: translateX(0);
     }
 }