@import './variables';

.heading {
    color: $Dark-gray;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.125rem;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.container {
    background-color: $Pale-gray;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    padding: 3rem;
}

.propertyList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.25rem;

    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
}

@media (max-width: 768px) {
    .heading {
        margin-bottom: 0.5rem;
    }

    .container {
        margin: 0 20px;
        // padding: 0.5rem;
    }
}

@media (max-width: 480px) {
    .container {
        margin: 0 5px;
    }
}