.heading {
    font-size: 2em;
    color: #333;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.container {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f7f7f7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.propertyList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}