.container {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    min-height: 100vh;
    max-width: 1400px;
}

.title {
    color: #333;
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

.resultsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #666;
    font-size: 1.2rem;
    height: 55.5vh;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
    text-align: center;
    width: 100%;
}

.fiLoader {
    margin-left: 10px;

    animation: spin 1s linear infinite;
}


.resultItem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    padding: 20px;
    transition: all 0.3s ease;
    text-align: justify;
    width: 100%;
}

.resultItem:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.resultItem h2 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 15px;
    text-align: center;
}

.resultItem p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
    line-height: 1.5;
}

.resultItem img {
    border-radius: 10px;
    object-fit: cover;
    max-width: 100%;
}

.detailsButton {
    display: flex;
    align-items: center;
    cursor: pointer;

    background: linear-gradient(135deg, #333, #555);
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 14px;
    margin-top: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all 0.3s ease-in;
}


.detailsButton:hover {
    background: linear-gradient(135deg, #333, #666, #333);
    background-size: 200% 200%;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2), 0 0 15px rgba(255, 255, 255, 0.4);
    transform: scale(1.05);

    animation: gradient-animation 3s ease infinite;
}

.detailsButton:active {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: scale(0.9);
}

.detailsButton svg {
    font-size: 28px;
    margin-left: 5px;
}

.noResults {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #666;
    font-size: 1.2rem;
    height: 200px;
    text-align: center;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@media (max-width: 768px) {
    .container {
        height: auto;
        padding: 10px;
    }

    .title {
        font-size: 1.5rem;
        margin-top: 1.2rem;
    }

    .resultsContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .resultItem {
        padding: 15px;
        width: 100%;
    }

    .resultItem h2 {
        font-size: 1.2rem;
    }

    .resultItem p {
        font-size: 0.85rem;
    }

    .loading {
        height: 70vh;
    }
}