.formContainer {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
    margin: 6.25rem auto;
    max-width: 50rem;
    min-height: 70vh;
    padding: 3.125rem;
}

.heading {
    color: #333;
    margin-bottom: 1.25rem;
    text-align: center;
    text-transform: uppercase;
}

.formGroup {
    margin-bottom: 1.6rem;
}

.label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.3rem;
    color: #555;
}

.input,
.select,
.textarea {
    width: 100%;
    padding: 0.625rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    transition: border-color 0.3s;
}

.input:focus,
.select:focus,
.textarea:focus {
    border-color: #c59c58;
    outline: none;
}

.textarea {
    resize: vertical;
    min-height: 6.25rem;
    font-family: inherit;
}

.submitButton {
    width: 100%;
    padding: 0.625rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: inherit;
}

.submitButton:hover {
    background-color: #444;
}

.fileInput {
    background-color: #f8f9fa;
    color: #333;
    cursor: pointer;
    font-size: 0.875rem;
    margin: 0.625rem 0;
    font-family: inherit;
}

.fileInput::-webkit-file-upload-button {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 0.875rem;
    transition: background-color 0.3s ease;
}


.fileInput::-webkit-file-upload-button:hover {
    background-color: #444;
}


.note {
    font-size: 0.875rem;
    color: #666;
}

.formGroup>div {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.error {
    color: #d9534f;
    background-color: #f9d6d5;
    border: 1px solid #d9534f;
    padding: 0.3rem;
    border-radius: 0.5rem;
    font-size: 0.625rem;
    font-weight: 500;
    opacity: 0;
}

.errorVisible {
    opacity: 1;
    position: absolute;
    top: -1rem;
    left: 0;
    transform: translateY(0);
    animation: shake 0.5s ease-in;
}

@keyframes shake {
    0% {
        transform: translateX(-0.3rem);
    }

    25% {
        transform: translateX(0.3rem);
    }

    50% {
        transform: translateX(-0.3rem);
    }

    75% {
        transform: translateX(0.3rem);
    }

    100% {
        transform: translateX(0);
    }
}