@import '../../styles/variables';

.featuredSection {
    margin-bottom: 50px;
    padding: 1.5rem;
    background-color: $Pale-gray;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    h2 {
        color: $Dark-gray;
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 0.125rem;
        text-align: center;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        text-wrap: wrap;

        @media (max-width: 768px) {
            font-size: 1.75rem;
        }

        @media (max-width: 480px) {
            font-size: 1.5rem;
        }
    }
}

.noOffer {
    color: black;
    text-transform: uppercase;
    border: 2px solid $Golden-bronze;
    text-align: center;
    padding: 50px;

    @media (max-width: 768px) {
        padding: 30px;
    }

    @media (max-width: 480px) {
        padding: 20px;
        font-size: 0.875rem;
    }
}

.featuredList {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    max-width: 1600px;

    @media (max-width: 1024px) {
        max-width: 1200px;
        justify-content: center;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }
}

.propertyWrapper {
    position: relative;
    width: 500px;

    @media (max-width: 1024px) {
        flex: 0 1 calc(50% - 1rem);
        margin: 0.5rem;
    }

    @media (max-width: 768px) {
        width: 370px;
        flex: none;
    }

    @media (max-width: 480px) {
        width: 100%;
    }
}

.propertyWrapper p {
    font-size: 1rem;
    margin: 1rem;

    @media (max-width: 1024px) {
        font-size: 1rem;
        margin: 0.75rem;
    }

    @media (max-width: 480px) {
        font-size: 0.9rem;
        margin: 1rem;
    }
}

.propertyWrapper h4 {
    font-size: 1rem;

    @media (max-width: 480px) {
        font-size: 0.9rem;
    }
}

.specialOfferBadge {
    color: $Black;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: $Border-radius;
    position: absolute;
    top: 40px;
    right: 10px;
    background: linear-gradient(135deg, $Golden-bronze 0%, $Light-amber 50%, $Golden-bronze 100%);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2), inset 0 0 0.3rem rgba(255, 255, 255, 0.6);
    will-change: transform;
    transform: rotate(30deg);

    @media (max-width: 768px) {
        top: 45px;
        right: 5px;
    }

    @media (max-width: 480px) {
        top: 35px;
        right: 3px;
        font-size: 0.75rem;
    }
}